/* _content/PN_HDSWeb_Components/Pages/CP_Dropdown.razor.rz.scp.css */
.btn-group[b-a1mbhbgwpi] {
    position: relative;
    cursor: pointer;
    width: 150px;
}

    .btn-group input[b-a1mbhbgwpi] {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 150px;
    }

.dropdown-menu[b-a1mbhbgwpi] {
    /*top: 93%;*/
    max-height: 160px;
    overflow-y: auto;
}

.btn-group > .icon-chevron-down[b-a1mbhbgwpi]::before {
    position: absolute;
    font-size: 10px;
    right: 10px;
    top: 34%;
}

.btn-group .icon-close[b-a1mbhbgwpi] {
    position: absolute;
    top: 26%;
    font-size: 18px;
    right: 12%;
    margin-right: 3px;
    z-index: 10;
}
/*Responsive*/
@media screen and (max-width: 767px) {
    .dropdown-menu[b-a1mbhbgwpi] {
        min-width: 100%
    }
}

@media screen and (min-width: 768px) {
    .dropdown-menu[b-a1mbhbgwpi] {
        min-width: 150%;
    }
}
/* _content/PN_HDSWeb_Components/Pages/CP_InputDropdown.razor.rz.scp.css */
.input-group input[b-aji0cyqfab] {
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

.input-group > :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not( .invalid-feedback )[b-aji0cyqfab] {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.input-group input:focus[b-aji0cyqfab] {
    box-shadow: rgba(46,139, 192,0.7) 3px 3px 3px;
}

.dropdown-menu[b-aji0cyqfab] {
    display: block;
    width: 100%;
    position: absolute;
    left: 0;
    top: 26px;
    z-index: 9;
    box-shadow: rgba(0,0,0,.5) 3px 3px 10px;
}

.list-item[b-aji0cyqfab] {
    padding: .5rem 1rem;
}

    .list-item:hover[b-aji0cyqfab] {
        background-color: #ccc;
        cursor: pointer;
        border-radius: .3rem;
    }
/* _content/PN_HDSWeb_Components/Pages/CP_Table.razor.rz.scp.css */
.pagination .page-item .page-link[b-yb9i73hnwl] {
    font-size: .8em;
}

.border-item[b-yb9i73hnwl] {
    border-style: solid;
    border-width: thin;
    width: auto;
    height: 30px;
}

.dropdown-myitem[b-yb9i73hnwl] {
    text-align: center;
    border-style: solid;
    border-width: thin;
    padding: 5px;
    align-content: center;
}

label[b-yb9i73hnwl] {
}

/*Responsive*/
@media screen and (max-width: 767px) {
    .pagination .page-item .page-link[b-yb9i73hnwl] {
        padding: 8px 12px;
    }

    .container-fluid[b-yb9i73hnwl] {
        width: 100%;
        margin-right: auto;
        margin-left: auto;
    }
}

@media screen and (min-width: 768px) {
    .container-fluid[b-yb9i73hnwl] {
        width: 100%;
        margin-right: auto;
        margin-left: auto;
    }
}
/* _content/PN_HDSWeb_Components/Pages/CP_ThaoTac.razor.rz.scp.css */
.dropdown a[b-ewbt2ywep9]{
    color: white;

}
.dropdown-menu[b-ewbt2ywep9]{
    width: fit-content;
    color: #000;
}
/* _content/PN_HDSWeb_Components/Shared/MainLayout.razor.rz.scp.css */
.page[b-53dj182ues] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-53dj182ues] {
    flex: 1;
}

.sidebar[b-53dj182ues] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-53dj182ues] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-53dj182ues]  a, .top-row .btn-link[b-53dj182ues] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-53dj182ues] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-53dj182ues] {
        display: none;
    }

    .top-row.auth[b-53dj182ues] {
        justify-content: space-between;
    }

    .top-row a[b-53dj182ues], .top-row .btn-link[b-53dj182ues] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-53dj182ues] {
        flex-direction: row;
    }

    .sidebar[b-53dj182ues] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-53dj182ues] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row[b-53dj182ues], article[b-53dj182ues] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* _content/PN_HDSWeb_Components/Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-50x2ai1ea2] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-50x2ai1ea2] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-50x2ai1ea2] {
    font-size: 1.1rem;
}

.oi[b-50x2ai1ea2] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-50x2ai1ea2] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-50x2ai1ea2] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-50x2ai1ea2] {
        padding-bottom: 1rem;
    }

    .nav-item[b-50x2ai1ea2]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-50x2ai1ea2]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-50x2ai1ea2]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-50x2ai1ea2] {
        display: none;
    }

    .collapse[b-50x2ai1ea2] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
    
    .nav-scrollable[b-50x2ai1ea2] {
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
