.input-group input[b-aji0cyqfab] {
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

.input-group > :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not( .invalid-feedback )[b-aji0cyqfab] {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.input-group input:focus[b-aji0cyqfab] {
    box-shadow: rgba(46,139, 192,0.7) 3px 3px 3px;
}

.dropdown-menu[b-aji0cyqfab] {
    display: block;
    width: 100%;
    position: absolute;
    left: 0;
    top: 26px;
    z-index: 9;
    box-shadow: rgba(0,0,0,.5) 3px 3px 10px;
}

.list-item[b-aji0cyqfab] {
    padding: .5rem 1rem;
}

    .list-item:hover[b-aji0cyqfab] {
        background-color: #ccc;
        cursor: pointer;
        border-radius: .3rem;
    }
